body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}
.container {
  padding: 15px;
}

h1 {
  text-align: center;
}

#shelf {
  display: grid;
  grid-template-columns: repeat(5, 150px);
}

.books {
  height: 150px;
  width: 100px;
  background-color: gray;
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
}

#button-container {
  display: flex;
  justify-content: center;
}

button {
  width: 100px;
  height: 50px;
  margin: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  width: auto;
  height: 290px;
  border-radius: 5px;
  box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.6);
}

.form {
  display: grid;
  grid-template-columns: 250px;
  padding: 20px;
}

label {
  font-size: small;
  color: gray;
  font-weight: bold;
}

input {
  margin-bottom: 20px;
  font-size: medium;
  padding: 2px;
  font-family: "Courier New", Courier, monospace;
}
